

h1 {
  font-family: Arial;
  font-size: 40px;
}
h2 {
  font-family: Martial;
  font-size: 1.5 rem;
}
header {
  padding: 1.875rem;
  background-color:  red;

}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.box1{

  width: 100%;
  background-color:  #f0f0f5;

}

.grid-box2{
    display: grid;
    padding-top: 2.5rem;
    padding-bottom: 0.625rem;
    grid-template-columns: 25rem 25rem;
    padding-right: 18.75rem;
    justify-content: center;
    min-height: 31.25rem;
    grid-gap: 50px;
  }

.box2{

  height: 25rem;
  width: 100%;
  background-color: pink;

}

.box2-head1{
  width: auto;
  height: auto;
  grid-column: 1 / 2;
  grid-row: 1/2;
}

.box2-head2{
  width: 46.875rem;
  height: auto;
  grid-column: 2 / 3;
  grid-row: 1/2;
}
.box1-about{

  height: 37.5rem;
  width: 100%;
}
.head1-about{
  float:left;
  width: 50%;

}

.head2-about{
  width: 50%;

}

.container{

  height: 31.25rem;
}
.container2{

  height: 37.5rem;
}
.head1{
  width: auto;
  grid-column: 1 / 2;
  grid-row: 1/2;
}

.head2{
  width: auto;
  grid-column: 2 / 3;
  grid-row: 1/2;
}
.head3{
  width: auto;
  grid-column: 3 / 4;
  grid-row: 1/2;
}

.head1-header{
  width: 18.75rem;
  height: 9.375rem;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1/2;
}
.head1-footer{
  width: auto;
  height: auto;
  display: flex;
justify-content: center;
}
.head2-header{
  width: 300px;
  height:9.375rem;
  display: flex;
  grid-column: 3 / 4;
  grid-row: 1/2;
}

.head3{
  display: flex;
  width: auto;
  height: 9.375rem;
  justify-content: flex-start;
  grid-column: 3 / 4;
  grid-row: 1/2;
}
.head3-header{
  width: 10%;
  float:left;
}
.head3-lessons{
  grid-column: 3 / 4;
  grid-row: 1/2;

  width: auto;
}
.head4-lessons{
  grid-column: 4 / 5;
  grid-row: 1/2;

  width: auto;
}
.head5-lessons{
  grid-column: 5 / 6;
  grid-row: 1/2;

  width: auto;
}
.container-instructor{

  height: 43.75rem;
  width: 100%;
}
.head1-instructor{
  width: auto;
  grid-column: 1 / 2;
  grid-row: 1/2;
height: auto;
}

.head2-instructor{
  width: auto;
  grid-column: 2 / 3;
  grid-row: 1/2;
  height: auto;

}

.head3-instructor{
  display: block;
  width: auto;
  grid-column: 3 / 4;
  grid-row: 1/2;
  height: auto;

}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  background-image: url(footerImage.jpg);
}

.container-footer{
  max-width: 71.25rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  text-align: center;

}
.element-row{
width: 100%;
display: flex;
box-sizing: border-box;
text-align: center;
}

.grid1 {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
  padding-right: 6rem;
  padding-left: 6rem;
  grid-template-columns: 22rem 22rem 22rem 22rem;
  justify-content: center;
  min-height: 31rem;
  grid-gap: 5rem;
}
.grid2 {
  display: grid;
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
  grid-template-columns: 20.625rem 20.625rem 20.625rem;
  justify-content: center;
  min-height: 18.75rem;
  grid-gap: 7.5rem;
}
.grid3 {
  display: grid;
  padding-top: 1.25rem;
  padding-bottom: 3.75rem;
  grid-template-columns: 50rem;
  justify-content: right;
  min-height: 31.25rem;
  grid-gap: 50rem;
  width: auto;
}
.gridwrapper_5 {
  display: grid;
  grid-template-columns: 22.5rem 22.5rem 22.5rem 22.5rem;
  justify-content: center;
  grid-auto-flow: row dense;
  grid-gap: 1.5rem;
}
.box1-contact{

  height: auto;
  width: auto;
  justify-content: center;
}
.gridwrapper_header {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  justify-content: center;
  grid-auto-flow: row dense;
  grid-gap: 1.5rem;
}
nav {
  width: auto;
font-family: "oskar";
font-weight: bold;
margin: 2rem;
}
nav ul {
  margin: 2rem;
}
nav a{
  margin: 0.25rem;
  padding: 0.25rem;
}
 input, button,  select {
display: block;
font-family: inherit;
font-size: 100%;
width: 18.75rem;
height: 1.563rem;
box-sizing: border-box;
}
textarea{
  width: 25rem;
  height: 6.25rem;

}
button{

  width: auto;
  height: auto;

}
input [type=submit]{

  width: 100%;
  background-color: #777;
}
fieldset input{

  display: inline;
}

.checkbox input:checked ~ .checkmark {
  background-color: #777;
}

.gridwrapper_contactform{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  justify-content: center;
  grid-auto-flow: row dense;
  grid-gap: 1.5rem;
}
.gridwrapper_5 input{

}
.gridwrapper_5 button{

}
.gridwrapper_5 textarea{

}
.wrapper-contact{
  display: flex;
  grid-column: 2;
  justify-content:center;
}
.hidden{
  position: relative;
  left: -10000px;
  top:auto;
}
.hidden:focus{
  left: 0;
}

.footer1{
display: block;
width: auto;
height: auto;
}
.footer2{
  display: block;
  width: auto;
  height: auto;
}
.footer3{
  display: block;
  width: auto;
  height: auto;
}
